@include portal-type-font-awesome-icon(ftw-slider-container, caret-square-o-right);

@include portal-type-font-awesome-icon(ftw-slider-pane, caret-square-o-right);

$slider-button-size: 40px !default;
$slider-button-gutter: 10px !default;
$slider-text-bg-color: #fff !default;
$slider-text-transparency: .6 !default;
$slider-text-title-font-size: 20px !default;
$slider-text-title-font-color: $text-color !default;
$slider-text-font-size: 16px !default;
$slider-text-font-color: $text-color !default;
$slider-button-bg-color: $gray-dark !default;
$slider-button-text-color: $gray-lighter !default;

@include declare_variables(
  slider-button-size,
  slider-button-gutter,
  slider-text-bg-color,
  slider-text-transparency,
  slider-text-title-font-size,
  slider-text-title-font-color,
  slider-text-font-size,
  slider-text-font-color,
  slider-button-bg-color,
  slider-button-text-color);

.sliderPanes {
  &.OnlyPane .sliderPane {
    margin: 0;
  }

  .sliderPane {
    position: relative;
    margin: 0 5px 0 5px;

    .sliderText {
      max-width: 400px;
      width: 100%;
      position: absolute;
      bottom: 20px;
      right: 0;
      box-sizing: border-box;
      background-color: $slider-text-bg-color;
      opacity: $slider-text-transparency;
      padding: 15px 10px;

      > p {
        font-size: $slider-text-font-size;
        color: $slider-text-font-color;

        &.documentFirstHeading {
          margin: 0;
          font-size: $slider-text-title-font-size;
          color: $slider-text-title-font-color;
        }
      }
    }

    .sliderImage {
      img {
        height: auto;
      }
    }

    > a .sliderText .documentFirstHeading {
      color: $link-color;
    }
  }

  > button {
    @extend .fa-icon;
    background-color: $slider-button-bg-color;
    border: none;
    color: $slider-button-text-color;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 0;
    height: $slider-button-size;
    line-height: 0;
    position: absolute;
    top: $slider-button-gutter;
    width: $slider-button-size;

    &:before {
      font-size: $slider-button-size / 2;
      line-height: $slider-button-size;
    }

    &.slick-play {
      @extend .fa-play;
      position: static;
      margin-right: $slider-button-gutter;
    }

    &.slick-pause {
      @extend .fa-pause;
      position: static;
    }

    &.slick-next {
      @extend .fa-chevron-right;
      background-color: rgba(255, 255, 255, .8);
      color: $primary-color;
      left: auto;
      margin-top: -$slider-button-size;
      right: 0;
      top: 50%;
    }

    &.slick-prev {
      @extend .fa-chevron-left;
      background-color: rgba(255, 255, 255, .8);
      color: $primary-color;
      left: 0;
      margin-top: -$slider-button-size;
      right: auto;
      top: 50%;
    }
  }
}