/* @group slider */

#slider-panes {
  width: 870px;
  max-width: 870px;
  position: relative;
}
.slick-slide img {
  max-width: 100%;
  height: auto;
}

/* @end */

/* @group dot navi */

#content ul.slick-dots {
  list-style: none;
  margin: 0;
  bottom: 0;
}
#content ul.slick-dots li {
  display: inline-block;
  background: #000;
  opacity: 0.4;
  width: 8px;
  height: 8px;
  display: block;
  float: left;
  margin: 0.25em;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  opacity: 0.4;
}
#content ul.slick-dots li.slick-active {
  opacity: 1;
}

/* @end */

/* @group prev next navi */

.slick-prev, .slick-next {
  display: none !important;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  cursor: pointer;
  border: none;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.5);
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
#slider-panes:hover .slick-prev,
#slider-panes:hover .slick-next {
  display: block !important;
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: #000;
  line-height: 1em;
}
.slick-prev:before {
  content: '«';
}
.slick-next:before {
  content: '»';
}

/* @end */