#slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 870px;
  max-width: 870px;
  height: auto;
  margin-bottom: 1em;
}
#slider-wrapper img {
  height: auto;
}

#slider-wrapper #slider-panes {
  /* this cannot be too large */
  width: 20000em;
  position: relative;
}
#slider-wrapper #slider-panes div.sliderPane {
  float: left;
  width: 870px;
  max-width: 870px;
  overflow: hidden;
  position: relative;
}

#slider-wrapper .prev:before {
  content: '«';
  font-size: 1.75em;
}
#slider-wrapper .next:after {
  content: '»';
  font-size: 1.75em;
}
#slider-wrapper .prev,
#slider-wrapper .next {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 40%;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.5);
  padding: 1em;
  z-index: 1;
}
#slider-wrapper .sliderPane:hover .prev,
#slider-wrapper .sliderPane:hover .next{
  display: block;
}
#slider-wrapper .prev {
  left: 0;
}
#slider-wrapper .next {
  right: 0;
}

#slider-wrapper .sliderText {
  position: absolute;
  bottom: 2em;
  right: 0;
  background: rgba(255,255,255,0.8);
  width: 50%;
  padding: 1em;
}


#slider-navi {
  position: absolute;
  margin-top: -2.5em;
  margin-left: 0.5em;
  z-index: 1;
}
#slider-navi a {
  margin-top: -1em;
  background: #000;
  opacity: 0.4;
  width: 8px;
  height: 8px;
  display: block;
  float: left;
  margin: 0.25em;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
#slider-navi a.active {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  #slider-wrapper .sliderText {
    position: static;
    width: 100%;
  }
}