/* @group slider */

#slider-panes {
  width: 870px;
  max-width: 870px;
  position: relative;
}
.slick-slide img {
  max-width: 100%;
  height: auto;
}

/* @end */

/* @group dot navi */

#content ul.slick-dots {
  list-style: none;
  margin: 0;
  bottom: 0;
}
#content ul.slick-dots li {
  display: inline-block;
  background: #000;
  opacity: 0.4;
  width: 8px;
  height: 8px;
  display: block;
  float: left;
  margin: 0.25em;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  opacity: 0.4;
}
#content ul.slick-dots li.slick-active {
  opacity: 1;
}

/* @end */

/* @group prev next navi */
.slick-list {
  z-index: 1;
}

.slick-prev, .slick-next {
  display: none !important;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  cursor: pointer;
  border: none;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.5);
  z-index: 2;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
#slider-panes:hover .slick-prev,
#slider-panes:hover .slick-next {
  display: block !important;
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  color: #000;
  line-height: 1em;
}
.slick-prev:before {
  content: '«';
}
.slick-next:before {
  content: '»';
}

/* @end */

/* @group slider block view */

li.slAction > a.layout_dummy-dummy-slider {
  background-image: url(++resource++ftw.slider/slider_block.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.sliderGallery .box .frame {
  border: 1px solid #999;
  background: #ececec;
  position: relative;
}
.sliderGallery img {
  margin: 0 auto;
  position: relative;
}
.sliderGallery div.imgTitle {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: #FFF;
  background: rgba(255,255,255,0.7);
}
.sliderGallery div.imgTitle > h3 {
  padding: 0.25em;
}
#content .sliderGallery div.imgDescription {
  /* position: absolute; */
  width: 100%;
  /* bottom: 0; */
  background: #FFF;
  background: rgba(255,255,255,0.7);
}
#content .sliderGallery div.imgDescription > div {
  padding: 0.5em;
  padding-top: 0;
}
.sliderGallery .slick-prev,
.sliderGallery .slick-next {
  display: block !important;
  top: 0;
  background: none;
  height: 30px;
}
  #content .sliderGallery div.imgDescription > div.imgNumber {
  padding: 0.25em 0;
  text-align: center;
}

/* @end */